<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>


    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/>
    <script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

<title>修改图书信息</title>
</head>
<body>
<style>
    .b{

        margin-top: 50px;
        margin-bottom: 150px;
        margin-left: 550px;
        margin-right: 250px;

    }
    .span{
        color: red;
        font-size: large;
    }
    .spans{
        color: blue;
        font-size: large;
    }
    .right{
        margin-left: 85%;
    }
</style>

<!--标题-->
<!-- ********************************************** 页眉标题 ***************************************************-->
<div class="container-fluid">
    <div class="row"  >
        <h1 class="text-center" >请输入新的图书信息</h1>
    </div>
</div>



<!--*******************************-->
<div class="container-fluid">
    <!--  -->
    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <div class="page-header">
                <h3><p>图书名：<span th:text="${bookname}" class="span"></span></p></h3>



                 <form  class="form-horizontal" action="/updatemain" enctype="multipart/form-data" method="post">


    书名：<input class="form-control"  th:placeholder="${bookname}" type="text" name="name" />
    <br/>价格：<input class="form-control" th:placeholder="${bookprice}" type="text" name="price" />
    <br/>库存：<input class="form-control" th:placeholder="${bookkeep}" type="text" name="keep" />
    <br/>作者：<input  class="form-control" th:placeholder="${bookzuozhe}" type="text" name="zuozhe" />



    <br/><input  placeholder="请选择图书封面" type="file" name="file" />



    <br/><button type="submit" class="btn btn-success" id="submitbtn">
    &nbsp;确定修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <a href="/return" class="btn btn-default " role="button">返回</a>

</form>
          </div>
       </div>
</div>
</div>


</body>
</html>